* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f0f15;
  animation: rotate-bg-color 20s linear infinite;
  color: #eee;
}

input,
button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
input {
    display: block;
    margin-bottom: 20px;
}
button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
    background: tomato;
    color: white;
}
